/* must be cleaned for layout */
body{
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.navbar{
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  margin: 0 10px;
  box-shadow: 0 4px 2px -2px rgb(153, 153, 153);
}

.navbarItem{
  display: inline;
  padding: 16px 0;
  margin: 10px;

}

.navbarItem a{
  text-align: center;
  text-decoration: none;
  display: inline;
  padding: 16px;
  color: rgba(7, 6, 6);
  background-color: white;
  font-weight: 550;
  border: 2px solid rgb(30, 31, 30);
  border-radius: 50px 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.navbarItem a:hover{
  background-color: rgb(83, 83, 83);
  color: white;
}

.navbarItem.left{
  float: left;
}

.navbarItem.right{
  float: right;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  position: relative;
  background-color: 0px 2px 18px -1px rgba(3, 3, 3, 0.5);
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
  height: 100vh;

}

/* contact is like sign in */

.signInTitle{
  padding: 6px;
  text-align: center;
  font-size: 25px;
  margin: 25px;
}


.loginContent{
  border-right: 2px solid rgb(70, 68, 68, 0.3);
  width: 50%;
}

.loginInput{
  width: 75%;
  height: 40px;
  margin-left: 30px;
  border: 2px solid rgb(66, 63, 63, 0.5);
  border-radius: 8px;

}

.signInContent{
  position: relative;
  width: 50%;
  left: 30%;
}

.signIn{
  width: 75%;
  height: 40px;
  display: block;
  margin-left: 30px;
  border: 2px solid rgb(66, 63, 63, 0.5);
  border-radius: 8px;

}

label{
  display: block;
  padding-top: 5px ;
  padding-bottom: 5px;
  font-size: 18px;
  margin: 5px;
  margin-left: 30px;

}


.signInButton {
  display: block;
  padding: 8px;
  margin-top: 30px;
  border: 1px solid rgb(60, 233, 60);
  border-radius: 10px;
  background-color: white;
  width: 30%;
  font-size: 17px;
  font-weight: 200px;
  margin-left: 30px;

}

.signInButton:hover{
  border: 3px solid green;
  border-radius: 10px; 
}

#signInPassword{
  height: 100px;
}


/* dynamic css */

.emptyName{
  color: red;
  margin-left: 30px;

}

/* from here clean */
footer{
  background-color: black;
  margin-top: 20px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
footer > div{
  color: white;
  text-align: center;
  height: 25px;

}





