<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <link rel="stylesheet" href="./../static/contacts.css">
</head>
<body>
  <div class="navbar">
    <div class="navbarItem left"><a href="/">Home</a></div>
    <div class="navbarItem left"><a href="#">News</a></div>
    <div class="navbarItem left"><a href="#">Contact</a></div>
    <div class="navbarItem left"><a href="#">About Us</a></div> 
    <div class="navbarItem right"><a href="/login">Sign Up</a></div>
    <div class="navbarItem right"><a href="/login">Log in</a></div>
  </div>

  <div class="container">
    <div class="signInContent">
      <div class="signInTitle">About Us!</div>
      <div class="wrapper">
        <h2>Faculties</h2>
        <div class="faculties">
          <div class="unit">
            <img src="../static/images/anishImg.jpg" alt="">
            <p>Jona Chen, Director</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
  
          </div>
        </div>
      </div>
      <div class="wrapper">
        <!-- <h2>Dev</h2> -->
        <div class="faculties">
          <div class="unit">
            <img src="../static/images/anishImg.jpg" alt="">
            <p>Jona Chen, Director</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
  
          </div>
        </div>
      </div>
      <div class="wrapper">
        <h2>Faculties</h2>
        <div class="faculties">
          <div class="unit">
            <img src="../static/images/anishImg.jpg" alt="">
            <p>Jona Chen, Director</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
  
          </div>
        </div>
      </div>
      <div class="wrapper">
        <h2>Faculties</h2>
        <div class="faculties">
          <div class="unit">
            <img src="../static/images/anishImg.jpg" alt="" height="418x" width="283px">
            <p>Jona Chen, Director</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
  
          </div>
        </div>
      </div>
  </div>

  <footer>
    <div>
      Copyright@2078 || Plagiarism Detector
    </div>
  </footer>
  
</body>
</html>