{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="container">
  <div class="signInContent">
    <div class="signInTitle">About Us!</div>
    <div class="wrapper">
      <h2>Faculties</h2>
      <div class="faculties">
        <div class="unit">
          <img src="../static/images/anishImg.jpg" alt="">
          <p>Jona Chen, Director</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>

        </div>
      </div>
    </div>
    <div class="wrapper">
      <!-- <h2>Dev</h2> -->
      <div class="faculties">
        <div class="unit">
          <img src="../static/images/anishImg.jpg" alt="">
          <p>Jona Chen, Director</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>

        </div>
      </div>
    </div>
    <div class="wrapper">
      <h2>Faculties</h2>
      <div class="faculties">
        <div class="unit">
          <img src="../static/images/anishImg.jpg" alt="">
          <p>Jona Chen, Director</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>

        </div>
      </div>
    </div>
    <div class="wrapper">
      <h2>Faculties</h2>
      <div class="faculties">
        <div class="unit">
          <img src="../static/images/anishImg.jpg" alt="" height="418x" width="283px">
          <p>Jona Chen, Director</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>

        </div>
      </div>
    </div>
</div>

{% endblock %}