{% extends 'layout.html' %}

{% load static %}

{% block content %}
<div id="aboutUsBody">
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="aboutUscard">
      <img src="./../static/images/anish.jpg" alt="Jane" style="height: 200px; width: 200px; border-radius: 100%;">
      <div class="AboutUsContainer">
        <h2>Anish Banjara</h2>
        <p class="title">PUR074BCT004</p>
        <p></p>
        <p>anish074bct004@ioepc.edu.np</p>
        <p><a href = "mailto: anish074bct004@ioepc.edu.np" style="text-decoration: none; color: white;"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="aboutUscard">
      <img src="./../static/images/kewal.jpg" alt="Mike" style="height: 200px; width: 200px; border-radius: 100%;">
      <div class="AboutUsContainer">
        <h2>Kewal Singh Myangbo</h2>
        <p class="title">PUR074BCT014</p>
        <p></p>
        <p>kewal074bct014@ioepc.edu.np</p>
        <p><a href = "mailto: kewal074bct014@ioepc.edu.np" style="text-decoration: none; color: white;"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="aboutUscard">
      <img src="./../static/images/pankaj.jpg" alt="John" style="height: 200px; width: 200px; border-radius: 100%;">
      <div class="AboutUsContainer">
        <h2>Pankaj Kumar Soni</h2>
        <p class="title">PUR074BCT019</p>
        <p></p>
        <p>pankaj074bct019@ioepc.edu.np</p>
        <p><a href = "mailto: pankaj074bct019@ioepc.edu.np" style="text-decoration: none; color: white;"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
  
  
  <div class="column">
    <div class="aboutUscard">
      <img src="./../static/images/raj.jpg" alt="John" style="height: 200px; width: 200px; border-radius: 100%;">
      <div class="AboutUsContainer">
        <h2>Raj Kumar Sah</h2>
        <p class="title">PUR074BCT026</p>
        <p></p>
        <p>raj074bct026@ioepc.edu.np</p>
        <p><a href = "mailto: raj074bct026@ioepc.edu.np" style="text-decoration: none; color: white;"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}