{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <div class="signInContent">
    <form method="POST" id="signInForm">
      <div class="signInTitle">Contact Us!</div>
      <label for="firstname">First name:</label>
      <input type="text" name="firstname" id="firstname" class="signIn">
      <label for="lastname">Last name:</label>
      <input type="text" name="lastname" id="lastname" class="signIn"> 
      <label for="phoneNo">Phone no:</label>
      <input type="number" name="phoneNo" id="phoneNo" class="signIn"> 
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" class="signIn"> 
      <label for="text">Description:</label>
      <input type="text" name="description" id="signInPassword" class="signIn"> 
      <button class="signInButton">Submit</button> 
    </form>
</div>


{% endblock %}