{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href= {% static 'index.css' %} >
</head>

<body>
      <div class="navbar">
        <div class="navbarItem left"><a href="/">Home</a></div>
        <div class="navbarItem left"><a href="#">News</a></div>
        <div class="navbarItem left"><a href="#">Contact</a></div>
        <div class="navbarItem left"><a href="#">About</a></div> 
        <div class="navbarItem right"><a href="/signup">Sign Up</a></div>
        <div class="navbarItem right"><a href="/login">Log in</a></div>
      </div>
      
      
      <div class="container">  
        <form action = "{% url 'fileApp:upload' %}" method = "POST" enctype = "multipart/form-data">
          <input type = "text" name = "filename" placeholder = "Enter your file name" >
          <input type = "file" name = "uploadfiles" id="textInput" >
          {% csrf_token %}
          <button class="uploadBtn">Submit document</button>
        </form>
      </div>
      <footer>
        <div>
          Copyright@2078 || Plagiarism Detector
        </div>
      </footer>
</body>
</html>