{% extends 'layout.html' %}
{% load static %}
{% block content %}

<div class="container">  
  <form action = "{% url 'fileApp:result' %}" method = "POST" enctype = "multipart/form-data">
    {% csrf_token %}
    <div id="textLogo">Plagiarism<i style="color: black">-</i>Detector</div>
    <input type = "text" name = "filename" placeholder = "Enter your file name" id="projectname">
    <input type = "file" name = "uploadfiles" id="file-input">
    <button class="uploadBtn">Submit document</button>
  </form>
</div>

{% endblock content %}
