{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href= {% static 'index.css' %} >
    <link rel="stylesheet" href= {% static 'login.css' %} >
    <link rel="stylesheet" href= {% static 'result.css' %} >
    
</head>

<body>
      <div class="navbar">
        <div class="navbarItem left"><a href="/">Home</a></div>
        <div class="navbarItem left"><a href="#">News</a></div>
        <div class="navbarItem left"><a href="/contact/">Contact</a></div>
        <div class="navbarItem left"><a href="/aboutus/">About</a></div> 
        {% if user.is_authenticated %}
          <div class="navbarItem right"><a href="/logout/">Logout</a></div>
          <div class="navbarItem right">Hello, {{user.first_name}} </a></div>
        {% else %}
          <div class="navbarItem right"><a href="/signup/">Sign Up</a></div>
          <div class="navbarItem right"><a href="/login/">Log in</a></div>
        {% endif %}
      </div>
      
      {% block content %}
      


      {% endblock content %}

      <footer>
        <div>
          Copyright@2078 || Plagiarism Detector
        </div>
      </footer>
</body>
</html>