<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="../static/login.css">
</head>

<body>
  <div class="container">
    <div class="login">
      <div class="loginContent">
        <form id= "loginForm">
          <div class="logInTitle">Have a account! Log in.</div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" class="loginInput username">
          <label for="password">Password:</label>
          <input type="password" name="password" id="logInPassword" class="loginInput password">
          <button class="loginButton">Log In</button> 
        </form>
      </div>
      
      <div class="signInContent">
        <form method="POST" id="signInForm">
          <div class="signInTitle">Create a new account.</div>
          <label for="firstname">First name:</label>
          <input type="text" name="firstname" id="firstname" class="signIn">
          <label for="lastname">Last name:</label>
          <input type="text" name="lastname" id="lastname" class="signIn"> 
          <label for="phoneNo">Phone no:</label>
          <input type="number" name="phoneNo" placeholder="10 digit phone no. only" id="phoneNo" class="signIn"> 
          <label for="email">Email:</label>
          <input type="text" name="email" id="email" class="signIn"> 
          <label for="password">Password:</label>
          <input type="password" name="password" id="signInPassword" class="signIn"> 
          <button class="signInButton">Create an account</button> 
        </form>
      </div>
    </div>
  </div>
</body>
</html>