{% extends 'layout.html' %}

{% load static %}

{% block content %}

  <div class="container">
    
      <div class="signinContent">
        <form id= "signinForm">
          <div class="logInTitle">Have a account! Log in.</div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" class="loginInput username">
          <label for="password">Password:</label>
          <input type="password" name="password" id="logInPassword" class="loginInput password">
          <button class="loginButton">Log In</button> 
        </form>
      </div>

  </div>

{% endblock %}